---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries?from=2023-10-01&page=1&project_id=1&to=2023-10-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-App-Server:
      - harvestapp-5ff6456c45-bgb7m
      Etag:
      - W/"b34ad63d066ae4fe2290e6435d78c476"
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":1,"spent_date":"2023-10-31","hours":0.5,"hours_without_timer":0.5,"rounded_hours":0.5,"notes":"some notes","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":"18:00","ended_time":"18:30","is_running":false,"billable":true,"budgeted":false,"billable_rate":100.0,"cost_rate":0.0,"created_at":"2023-11-01T08:53:25Z","updated_at":"2023-11-01T08:53:25Z","user":{"id":1,"name":"User 1"},"client":{"id":1,"name":"Client 1","currency":"USD"},"project":{"id":1,"name":"Project 1","code":null},"task":{"id":8,"name":"Task 6"},"user_assignment":{"id":1,"is_project_manager":true,"is_active":true,"use_default_rates":false,"budget":null,"created_at":"2014-10-21T01:39:19Z","updated_at":"2014-10-21T01:39:19Z","hourly_rate":0},"task_assignment":{"id":1,"billable":true,"is_active":true,"created_at":"2018-04-02T07:22:49Z","updated_at":"2020-05-21T11:36:44Z","hourly_rate":100.0,"budget":null},"invoice":null,"external_reference":null},{"id":2,"spent_date":"2023-10-25","hours":0.58,"hours_without_timer":0.58,"rounded_hours":0.58,"notes":"some notes","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":"10:35","ended_time":"11:09","is_running":false,"billable":true,"budgeted":false,"billable_rate":100.0,"cost_rate":0.0,"created_at":"2023-10-25T08:38:19Z","updated_at":"2023-10-26T09:08:32Z","user":{"id":1,"name":"User 1"},"client":{"id":1,"name":"Client 1","curre[...]
