---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/tasks?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-App-Server:
      - harvestapp-945747d89-2nfr5
      Etag:
      - W/"962128f25a19bcfb8882a43552ee3a5e"
    body:
      encoding: ASCII-8BIT
      string: '{"tasks":[{"id":1,"name":"Startup","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2023-05-28T18:24:00Z","updated_at":"2023-11-07T16:39:51Z"},{"id":2,"name":"Task 1","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2021-10-29T08:57:51Z","updated_at":"2021-10-29T08:57:51Z"},{"id":3,"name":"Task 2","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2021-04-05T10:38:58Z","updated_at":"2021-04-05T10:38:58Z"},{"id":4,"name":"Task 3","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_a[...]
