---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/projects?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-App-Server:
      - harvestapp-7596d775d5-k5nd6
      Etag:
      - W/"e9d8b5acf843e01ccb48853715798f5f"
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"id":1,"name":"Project 1","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":null,"budget_by":"none","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2014-10-21T01:39:19Z","updated_at":"2015-11-16T09:38:59Z","starts_on":"2014-10-20","ends_on":null,"over_budget_notification_date":null,"notes":"","cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":1,"name":"Client 1","currency":"USD"}},{"id":2,"name":"Project 2","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":null,"budget_by":"none","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2013-01-31T06:01:24Z","updated_at":"2021-04-05T10:38:58Z","starts_on":"2013-01-31","ends_on":null,"over_budget_notification_date":null,"notes":"","cost_budget":null,"cost_budget_include_expenses":false,"[...]
